@{
    ViewBag.Title = "Literatura";
}

<main>
    <!-- Título de la sección de libros en estreno -->
    <section class="row" aria-labelledby="tituloLibros">
        <h1 id="tituloLibros" class="col-12">Libros en Estreno</h1>
    </section>

    <!-- Galería de imágenes de libros -->
    <div class="row">
        <!-- Primer libro -->
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://editorialverbum.es/wp-content/uploads/2020/09/Almas-muertas.jpg" class="img-fluid" alt="Almas Muertas">
        </div>

        <!-- Segundo libro -->
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhCMCKPzPRzyAQ3T1QWgjTFHdbvXMlcPN1CClaYihAhEqR6fTVsZIu1pPw7sVUP-ImjrwIAtXRX7Dk7E0uNN6M4P9750mJA3lcavim-xg3efr61UPiSElGihC7JFJH8qdwOL_Sd7laF578/s1600/portada-buscon_grande.jpg" class="img-fluid" alt="El Buscón">
        </div>

        <!-- Tercer libro -->
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://i.ytimg.com/vi/4RcwgBdIN4M/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAT5axYvDAGgK8lWQS41qZzKsVf8g" class="img-fluid" alt="Película 3">
        </div>

        <!-- Cuarto libro -->
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://covers.openlibrary.org/b/id/8211521-L.jpg" class="img-fluid" alt="Don Quijote de la Mancha">
        </div>

        <!-- Séptimo libro -->
        <div class="col-md-3 col-sm-6 mb-4">
            <img src="https://quelibroleo.com/images/libros/libro_1449673742.jpg" class="img-fluid" alt="Matar a un ruiseñor">
        </div>

    </div>
</main>
